<p style="color: green"><%= notice %></p>

<h1>Lifts</h1>

<table class="table">
  <div id="lifts">
    <thead class>
    </thead>
    <tbody>  
      <% @lifts.each do |lift| %>
        <%= render lift %>
        <p>
          <%= link_to "Show this lift", lift %>
        </p>
      <% end %>
    </tbody>
  </div>
</table>

<%= link_to "Add new lift", new_lift_path %>
