<strong>Easi Lift</strong> is a user-friendly ride sharing web application.
It was designed with students in mind, however, it can be used by many different groups of people. It is a carpooling application where users can
offer lifts, edit and deletem them, but also book rides and view lift details.

<h2 style="text-align: center;" How it Works: >
Find a ride will redirect you to the lift available page where you can filter and book lifts.
Offer a ride will redirect you to the creating a lift page where you can add your details.
Any action will however require a account to verify credentials and link your lifts and bookings.
<a href="/app/views/lifts/index.html.erb" style="text-align: center" class="btn btn-dark btn-sm">Find a Ride</a>
<a href="/app/views/lifts/index.html.erb" style="text-align: center; padding-left: 5%;" class="btn btn-dark btn-sm">Offer a Ride</a>

<img src="app/assets/images/Easi_Lift_logo.png" style="position: fixed; bottom: 0; right: 0; margin: 10px;">