<p style="color: green"><%= notice %></p>

<h1 style="text-align: center">Easi Lift<h1> <span><h6>is a user-friendly ride sharing web application.
It was designed with students in mind, however, it can be used by many different groups of people as it's a carpooling application where users can
offer lifts, edit and deletem them, but also book rides and view lift details.</h6></span>

<br><br/>
<h2> How it Works: </h2>
<h6>Find a ride will redirect you to the lift available page where you can filter and book lifts.
Offer a ride will redirect you to the creating a lift page where you can add your details.
Any action will however require a account to verify credentials and link your lifts and bookings.</h6>
<br />

<a href="lifts" style="align: center; margin-right:10px" class="btn btn-primary btn-sm">Find a Ride</a>
<a href="lifts/new" style="align: center; margin-right:10px" class="btn btn-primary btn-sm">Offer a Ride</a>


<%# <%= link_to "Find a Ride", lifts_path, class="btn btn-primary btn-sm", aria: { expanded: false, haspopup: true }, data: { bs_scroll: true }, role: :button %>
<%# <%= link_to "Offer a Ride", new_lift_path, class="btn btn-primary btn-sm", aria: { expanded: false, haspopup: true }, data: { bs_scroll: true }, role: :button %> 

<%# <%= image_tag(asset_path('Easi_Lift_logo.jpg')) %> 